@using Example.App.Extensions
@model Example.App.ViewsModels.VendorViewModel

@{
    ViewData["Title"] = "Excluir Fornecedor";
}

<h1>@ViewData["Title"]</h1>


<div>
    <h4>Esta Acao sera permanente!</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Document)
        </dt>
        <dd class = "col-sm-10">
            @this.DocumentFormat(Model.VendorType,Model.Document)
        </dd>
      
      
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Active)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Active)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="D" class="btn btn-danger" /> |
        <a href="javascript:window.history.back();" class="btn btn-info">Voltar</a>
    </form>
</div>

<partial name="_AddressDetails" />