@using Example.App.Extensions
@model Example.App.ViewsModels.VendorViewModel

@{
    ViewData["Title"] = "Detalhes " + Model.Name;
}



<div>
    <h4>@ViewData["Title"]</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Document)
        </dt>
        <dd class = "col-sm-10">
            @this.DocumentFormat(Model.VendorType, Model.Document)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VendorType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VendorType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Active)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Active)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Editar</a>
    <a href="javascript:window.history.back();" class="btn btn-info">Voltar</a>
</div>

<partial name="_AddressDetails" />


<hr />
<h4>Lista de Produtos</h4>

<partial name="../Products/_ListProducts" model="@Model.Products"/>
