@using Example.App.Extensions
@model IEnumerable<Example.App.ViewsModels.VendorViewModel>

@{
    ViewData["Title"] = "Fornecedores";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create" supress-by-claim-name="Vendor" supress-by-claim-value="Add" class="btn btn-primary">Novo Fornecedor</a>
</p>
<table class="table table-hover">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Document)
            </th>
           
            <th>
                @Html.DisplayNameFor(model => model.Active)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @this.DocumentFormat(item.VendorType, item.Document);
            </td>
          
            <td>
                @Html.DisplayFor(modelItem => item.Active)
            </td>
            <td class="text-right">
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info"><span class="fa fa-search"></span></a>
                <a asp-action="Edit" disable-by-claim-name="Vendor" disable-by-claim-value="Edit" asp-route-id="@item.Id" class="btn btn-warning"><span class="fa fa-edit"></span></a>
                <a asp-action="Delete" supress-by-claim-name="Vendor" supress-by-claim-value="Delete" asp-route-id="@item.Id" class="btn btn-danger"><span class="fa fa-trash"></span></a>
            </td>
        </tr>
}
    </tbody>
</table>
