@model Example.App.ViewsModels.ProductViewModel

@{
    ViewData["Title"] = "Excluir - " + Model.Name;
}

<h4>@ViewData["Title"]</h4>

<h3>Voce tem certeza disso?</h3>
<div class="row">
    <div class="col-md-4">
        <img src="~/images/@Model.Image" style="width:300px;height:428px" />
    </div>
    <div class="col-md-6">
        <dl>
            <dt>
                @Html.DisplayNameFor(model => model.VendorId)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Vendor.Name)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Image)
            </dt>

            <dt>
                @Html.DisplayNameFor(model => model.Value)
            </dt>
            <dd>
                @Model.Value.ToString("C")
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Active)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Active)
            </dd>

        </dl>

        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Delete" class="btn btn-danger" />
            <a href="javascript:window.history.back()" class="btn btn-info">Voltar</a>
        </form>
    </div>
</div>
